.Button {
	width: 100%;
	appearance: none;
	color: inherit;
	padding: 10px 12px;
	border-radius: 12px;
	cursor: pointer;
	transition:
		transform 120ms ease,
		background 120ms ease;
	outline: none;
}

.Button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	transform: none;
}
