.MobileButtons {
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	width: 360px;
}

.MobileButtons-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 10px;
}
